@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fuggles&family=Martian+Mono:wght@300&family=Oooh+Baby&family=Open+Sans:ital,wght@1,500&family=Pacifico&family=Princess+Sofia&family=Questrial&family=Quicksand&family=Roboto+Serif:opsz,wght@8..144,100&family=Roboto+Slab:wght@100&family=Rubik+Gemstones&family=Sedgwick+Ave+Display&family=Sofia&family=Unbounded:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial';
    color: black; 
    font-size: 22px;
    text-decoration: none;
}