$border-colour: #222;
$click: pointer;
$primary-color: #222;
$secondary-color: #f0f0f0;

// Textstorlekar 
$small-text: 15px;
$medium-text: 18px;
$large-text: 40px;

// Övergång
$transition-duration: 0.3s;

// Utfyllnad
$padding: 10px;